ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.conteudo h1 {
    margin-bottom: 20px;
}

.sem-suporte {
    display: none;
    font-size: 1.2rem;
    color: black;
    margin-top: 35px;
}

.aplicacao {
    margin: 40px auto;
}

#area-anotacoes {
    background-color: whitesmoke;

    margin: 20px 0px;
    padding: 15px;
}

#instrucoes {
    margin: 15px auto 60px;
}

#anotacoes {
    padding-top: 20px;
}

.anotacao .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.anotacao .deletar-anotacao,
.anotacao .ouvir-anotacao {
    text-decoration: none;
    margin-left: 15px;
}

.anotacao .conteudo {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .conteudo {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}


/* Novas tags */
.texto-azul{
    color: #17A2B8;
}